.mokitul-chat ol,
ul,
dl {
    list-style: initial;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.show {
    visibility: visible !important;
}

.drawer.drawer-right {
    width: 40rem;
    max-width: 100vw;
    right: calc(-40rem + -10px);
}
